# Практическое задание #3

1. Считайте датасет из файла **train.csv** (это данные о выживаемости на Титанике) - **1 балл**
2. Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - **1 балл**
3. Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - **1 балл**
4. Выведите самое популярное мужское и самое популярное женское имя на корабле - **1 балл**
5. Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - **2 балла**
6. Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - **1 балл**
7. Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - **2 балла**
8.Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) -**1 балл**

## Импортирование библиотек

In [3]:
import pandas as pd

## 1. Считайте датасет из файла **train.csv** (это данные о выживаемости на Титанике) - **1 балл**

In [4]:
df = pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 2. Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д. - **1 балл**

In [30]:
# Общий размер таблицы
df.shape

(891, 12)

In [7]:
# Информация о датафрейме как об объекте в Python
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
# Число пустых значений
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
# Набор статистических данных для датафреймов с числовыми значениями
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [10]:
# Отдельно среднее значение
df.mean()

<ipython-input-10-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

PassengerId    446.000000
Survived         0.383838
Pclass           2.308642
Age             29.699118
SibSp            0.523008
Parch            0.381594
Fare            32.204208
dtype: float64

In [11]:
# Медиана
df.median()

<ipython-input-11-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

In [33]:
# Описательная статистика по каждому столбцу
pd.set_option('display.float_format', lambda x:'%.3f'%x)
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000,891.000,891.000,891,891,714.000,891.000,891.000,891,891.000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000,0.384,2.309,NaN,NaN,29.699,0.523,0.382,NaN,32.204,NaN,NaN
std,257.354,0.487,0.836,NaN,NaN,14.526,1.103,0.806,NaN,49.693,NaN,NaN
min,1.000,0.000,1.000,NaN,NaN,0.420,0.000,0.000,NaN,0.000,NaN,NaN
25%,223.500,0.000,2.000,NaN,NaN,20.125,0.000,0.000,NaN,7.910,NaN,NaN
50%,446.000,0.000,3.000,NaN,NaN,28.000,0.000,0.000,NaN,14.454,NaN,NaN
75%,668.500,1.000,3.000,NaN,NaN,38.000,1.000,0.000,NaN,31.000,NaN,NaN
max,891.000,1.000,3.000,NaN,NaN,80.000,8.000,6.000,NaN,512.329,NaN,NaN

In [37]:
# Корреляция данных
corr_matrix = df.corr(numeric_only=True)
corr_matrix

             PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
PassengerId        1.000    -0.005  -0.035  0.037 -0.058 -0.002  0.013
Survived          -0.005     1.000  -0.338 -0.077 -0.035  0.082  0.257
Pclass            -0.035    -0.338   1.000 -0.369  0.083  0.018 -0.549
Age                0.037    -0.077  -0.369  1.000 -0.308 -0.189  0.096
SibSp             -0.058    -0.035   0.083 -0.308  1.000  0.415  0.160
Parch             -0.002     0.082   0.018 -0.189  0.415  1.000  0.216
Fare               0.013     0.257  -0.549  0.096  0.160  0.216  1.000

## 3. Посчитайте процент выживаемости у каждого класса пассажиров (Pclass) - **1 балл**

In [23]:
# Опредилм общее число пассажиров по каждому классу
pclass = df['Pclass'].value_counts()
pclass

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [22]:
# Посмотрим число выживших по каждому классу
df.groupby('Pclass')['Survived'].sum()

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [25]:
# Разделим число выживших на общее кол-во по каждому классу и умножим на 100
(df.groupby('Pclass')['Survived'].sum() / pclass) * 100

1    62.962963
2    47.282609
3    24.236253
dtype: float64

In [41]:
# Можно другим способом через метод mean()
survival_rate = df.groupby('Pclass')['Survived'].mean() * 100
print(survival_rate)

Pclass
1   62.963
2   47.283
3   24.236
Name: Survived, dtype: float64

Как видно больший процент выжимаемости у **1го** класса. У **3го** класса меньший процент выживших.

## 4. Выведите самое популярное мужское и самое популярное женское имя на корабле - **1 балл**

In [61]:
# Список мужских имен
man_name = df[df['Sex'] == 'male']['Name']

# Список женских имен
woman_name = df[df['Sex'] == 'female']['Name']

In [65]:
# Пример списка женских имен
woman_name.value_counts()

Cumings, Mrs. John Bradley (Florence Briggs Thayer)    1
Ohman, Miss. Velin                                     1
Kelly, Miss. Mary                                      1
Appleton, Mrs. Edward Dale (Charlotte Lamson)          1
Palsson, Mrs. Nils (Alma Cornelia Berglund)            1
                                                      ..
Haas, Miss. Aloisia                                    1
Bishop, Mrs. Dickinson H (Helen Walton)                1
Barber, Miss. Ellen "Nellie"                           1
Connolly, Miss. Kate                                   1
Johnston, Miss. Catherine Helen "Carrie"               1
Name: Name, Length: 314, dtype: int64

Как видно у замужних женщин чаще всего после "Mrs." стоит имя мужа, а имя и фамилия женщины располагаются в скобках.

Поэтому сначала парсить имена замужних женщин из скобок, а потом все оставшиеся.

In [138]:
def parse_name(name):
    first = name.str.extract(r"Mrs\.\s+[^(]*\((\w+)", expand=False)
    first.loc[first.isna()] = name.str.extract(r"\.\s+(\w+)", expand=False)
    return first

In [139]:
popular_male_name  = parse_name(man_name).value_counts()
popular_male_name

William    35
John       25
George     14
Charles    13
Thomas     13
           ..
Ignjac      1
Yoto        1
Austen      1
Mitto       1
Juozas      1
Name: Name, Length: 286, dtype: int64

In [140]:
popular_female_name  = parse_name(woman_name).value_counts()
popular_female_name

Anna         15
Mary         14
Elizabeth    11
Margaret     10
Alice         7
             ..
Miriam        1
Helmina       1
Laura         1
Nora          1
Gerda         1
Name: Name, Length: 177, dtype: int64

In [84]:
print('Самое популярное мужское имя:', popular_male_name.index[0])
print('Самое популярное женское имя:', popular_female_name.index[0])

Самое популярное мужское имя: William
Самое популярное женское имя: Anna

## 5. Выведите самое популярное мужское и самое популярное женское имя на корабле в каждом классе - **2 балла**

In [237]:
woman_name = df[(df['Pclass'] == 1) & (df['Sex'] == 'female')]['Name']
parse_name(woman_name).value_counts()

Elizabeth    5
Margaret     5
Mary         4
Alice        4
Anna         3
            ..
Leontine     1
Rosalie      1
Marjorie     1
Daisy        1
Sallie       1
Name: Name, Length: 65, dtype: int64

In [ ]:
woman_name = df[(df['Pclass'] == 2) & (df['Sex'] == 'female')]['Name']
parse_name(woman_name).value_counts()

In [239]:
woman_name = df[(df['Pclass'] == 3) & (df['Sex'] == 'female')]['Name']
name = parse_name(woman_name).value_counts()

In [240]:
name

Anna         9
Mary         7
Margaret     5
Maria        4
Catherine    4
            ..
Eliina       1
Telma        1
Carla        1
Luise        1
Gerda        1
Name: Name, Length: 104, dtype: int64

In [220]:
man_name = df[(df['Pclass'] == 3) & (df['Sex'] == 'male')]['Name']
woman_name = df[(df['Pclass'] == 1) & (df['Sex'] == 'female')]['Name']

In [221]:
parse_name(woman_name).value_counts()

Elizabeth    5
Margaret     5
Mary         4
Alice        4
Anna         3
            ..
Leontine     1
Rosalie      1
Marjorie     1
Daisy        1
Sallie       1
Name: Name, Length: 65, dtype: int64

In [211]:
parse_name(man_name).value_counts()

William    15
John       11
James       8
Johan       8
Karl        7
           ..
Howard      1
Ignjac      1
Yoto        1
Mitto       1
Johann      1
Name: Name, Length: 221, dtype: int64

In [269]:
# В фильтрацию добавим класс пассажиров на каждой иттерации  и воспользуемся функцией объявленной в прошлом задании
for pclass in df['Pclass'].unique():

    # Список имен по в зависимости от класса и пола
    man_name = df[(df['Pclass'] == pclass) & (df['Sex'] == 'male')]['Name']
    woman_name = df[(df['Pclass'] == pclass) & (df['Sex'] == 'female')]['Name']

    # Самые популярные имена по количеству
    popular_male_name  = parse_name(man_name).value_counts()
    popular_female_name  = parse_name(woman_name).value_counts()

    # Выводим все имена (ключи) с максимальным значением, так как может быть одинаковое количество имен в одном классе
    max_value_male = popular_male_name.max()
    max_value_female = popular_female_name.max()

    # Список таких имен
    max_names_male = popular_male_name[popular_male_name == max_value_male].index.tolist()
    max_names_female = popular_female_name[popular_female_name == max_value_female].index.tolist()

    print(f'{pclass} класс:')
    print(f'Самое популярное мужское имя в классе : {max_names_male}, количество: {max_value_male}')
    print(f'Самое популярное женское имя в классе : {max_names_female}, количество  {max_value_female}')
    print()

3 класс:
Самое популярное мужское имя в классе : ['William'], количество: 15
Самое популярное женское имя в классе : ['Anna'], количество  9

1 класс:
Самое популярное мужское имя в классе : ['William'], количество: 11
Самое популярное женское имя в классе : ['Elizabeth', 'Margaret'], количество  5

2 класс:
Самое популярное мужское имя в классе : ['William'], количество: 9
Самое популярное женское имя в классе : ['Elizabeth'], количество  5

In [241]:
# Создаем pandas.Series
s = pd.Series({'Elizabeth': 5, 'Margaret': 5, 'Mary': 4, 'Alice': 4, 'Anna': 3})

# Находим максимальное значение в серии
max_value = s.max()

# Выводим все имена (ключи) с максимальным значением
max_names = s[s == max_value].index.tolist()
print(max_names)

['Elizabeth', 'Margaret']

## 6. Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - **1 балл**

In [87]:
# Список пассажиров возрастом старше 44 лет
older_passengers = df[df['Age'] > 44]

# 10 рандомных строчек из этой таблицы
older_passengers.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
463,464,0,2,"Milling, Mr. Jacob Christian",male,48.000,0,0,234360,13.000,NaN,S
487,488,0,1,"Kent, Mr. Edward Austin",male,58.000,0,0,11771,29.700,B37,C
132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.000,1,0,A/5. 3337,14.500,NaN,S
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.000,1,1,F.C.C. 13529,26.250,NaN,S
280,281,0,3,"Duane, Mr. Frank",male,65.000,0,0,336439,7.750,NaN,Q
338,339,1,3,"Dahl, Mr. Karl Edwart",male,45.000,0,0,7598,8.050,NaN,S
406,407,0,3,"Widegren, Mr. Carl/Charles Peter",male,51.000,0,0,347064,7.750,NaN,S
460,461,1,1,"Anderson, Mr. Harry",male,48.000,0,0,19952,26.550,E12,S
714,715,0,2,"Greenberg, Mr. Samuel",male,52.000,0,0,250647,13.000,NaN,S
631,632,0,3,"Lundahl, Mr. Johan Svensson",male,51.000,0,0,347743,7.054,NaN,S

## 7. Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - **2 балла**

In [88]:
# Список пассажиров мужчин возрастом младше 44 лет
younger_male_passengers = df[(df['Age'] < 44) & (df['Sex'] == 'male')]

# 10 рандомных строчек из этой таблицы
younger_male_passengers.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.000,0,0,250655,26.000,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.000,0,0,C.A./SOTON 34068,10.500,NaN,S
528,529,0,3,"Salonen, Mr. Johan Werner",male,39.000,0,0,3101296,7.925,NaN,S
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.000,0,2,113503,211.500,C82,C
202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.000,0,0,3101264,6.496,NaN,S
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.000,2,0,350026,14.108,NaN,S
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.000,0,1,PC 17759,63.358,D10 D12,C
761,762,0,3,"Nirva, Mr. Iisakki Antino Aijo",male,41.000,0,0,SOTON/O2 3101272,7.125,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.000,1,5,347082,31.275,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.500,0,0,2697,7.229,NaN,C

## 8.Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) -**1 балл**

In [98]:
# Исходить будем из столбца SibSp - Братьев и сестер на борту
sibSp_unique = df.SibSp.unique()
sibSp_unique

array([1, 0, 3, 4, 2, 5, 8])

Соответственно значение:
 - 0 - кто путешествовал один
 - 1 - вдвоем
 - 2 - втроем
 - и т.д.

In [103]:
# Список пассажир кто путешествовал не один, то есть были в n- местных каютах
more_than_one = df[df['SibSp'] != 0]
more_than_one

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000,1,0,A/5 21171,7.250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000,1,0,PC 17599,71.283,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000,1,0,113803,53.100,C123,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000,3,1,349909,21.075,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000,1,0,237736,30.071,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.000,1,0,SC/PARIS 2149,13.858,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.000,1,1,347742,11.133,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000,1,1,11751,52.554,D35,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000,1,0,P/PP 3381,24.000,NaN,C
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S

In [132]:
# Значит можно считать что те кто были не одни, у тех были n-местные номера
more_than_one_counts = more_than_one['SibSp'].value_counts()

# И отсортируем по индексам
more_than_one_counts = more_than_one_counts.sort_index()

1    209
2     28
3     16
4     18
5      5
8      7
Name: SibSp, dtype: int64

In [133]:
for index, item in more_than_one_counts.items():
  print(f'Число {index+1}-местных кабин: {item}')

Число 2-местных кабин: 209
Число 3-местных кабин: 28
Число 5-местных кабин: 18
Число 4-местных кабин: 16
Число 9-местных кабин: 7
Число 6-местных кабин: 5